header {
    padding: 30px;
    background: red;
    background-image: url('https://cdn6.newsnation.in/images/2019/01/18/aliens-195077386_6.jpg')
    background-size: cover;
    background-attachment:fixed;
}

main {
    display: grid;
    grid-template-areas: 'aside article article' 'aside footer footer';
    grid-gap: 30px;
}

aside {
    grid-area: aside;
    background: red;
}

article {
    grid-area: article;
    background: blue;
}

footer {
    grid-area: footer;
    background: blue;
}
